.contenedorGaleria{
    margin-top: 98px;
    padding: 0px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 100px;
}

.containerImagesGaleria{
    width: 100%;
    height: fit-content;
    margin-bottom: 5px;
    border-radius: 5px;
}
.imageGaleria{
    width: 100%;
    height: auto;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.imageGaleria.loaded {
    opacity: 1;
}
.loadMoreContainer{
    width: 100%;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}
.loadMoreButton{
    background-color: #ffffff;
    border: 2px solid #0549aa;
    color: #0549aa;
    padding: 10px 20px;
    cursor: pointer;
}
.loadMoreButton:hover{
    background-color: #0549aa;
    border: 2px solid #0549aa;
    color: #ffffff;

}

.buttonContainer{
    height: 150px;
}

.load{
    font-size: 30px;
    color: #0549aa;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



@media screen and (max-width: 930px){
    .contenedorGaleria{
        margin-top: 50px;
    }
}


@media screen and (max-width: 768px){
    .contenedorGaleria{
        grid-template-columns: repeat(2, 1fr);
        
    }
}
