

.sponsorSection{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 50px;
    
}

.sponsorsContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.logoSponsorContainer{
    height: 200px;
    width: 200px;
    padding: 0px 20px;
}
.logoSponsor{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media screen and (max-width: 930px){
    .logoSponsorContainer{
        height: 120px;
        width: 150px;
        
    }
}
@media screen and (max-width: 768px){
    .sponsorsContainer{
        width: 100%;
        gap: 20px;

        justify-content: center;
    }
    .sponsorSection{
        padding-bottom: 50px;
    }
    .logoSponsorContainer{
        height: 90px;
        width: 120px;
        
    }
}