.sectionCalendar{
    position: relative;
    padding-top: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.calendarTextContainer{
    background-color: #aff3f7bd;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 40px;
}


.button{
    margin-top: 20px;
    z-index: 997;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    border: 2px solid #0549aa;
    color: #0549aa;
    cursor: pointer;
    font-size: 0.8rem;
}
.button:hover{
    
    border: 2px solid #0549aa;
    background-color: #0549aa;
    color: #ffffff;
}
.calendarTextContainer h2{
    
    color: #0549aa;
    font-size: 2.3rem;
    letter-spacing: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
    z-index: 997;
}
.calendarTextContainer p{
    padding-top: 5px;
    color: #0753bdc5;
    font-size: 0.8rem;
    font-weight: 800;
    line-height: 20px;
    width: 50%;
    text-align: center;
    z-index: 997;
}
.backgroundEventos{
    display: flex;
    background: linear-gradient(#aff3f7bd, #0753bd00);
    height: 70vh;
    justify-content: center;
}


.separacionContainerCalendar2{
        margin-bottom: 100px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
}
.futureEvents{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    width: 80%;
    height: 100%;
    gap: 25px;
}
.futureEvents div{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px rgba(82, 82, 82, 0.356);   
    width: 22%;
    height: 60%;
}

.separacionContainerCalendar3{
    display: flex;
    align-items: flex-end;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

}


@media screen and (max-width: 1500px){
    .sectionCalendar{
        padding-top: 90px;
    }
    .separacionContainerCalendar2{
        display: flex;
}
    .calendarTextContainer {
        width: 100%;
        height: fit-content;
    }
    .calendarTextContainer h2{
        font-size: 1.7rem;
        
    }
    .calendarTextContainer p{
        width: 80%;
        
    }
    
    .backgroundEventos{
        height: 60vh;
    }
}
@media screen and (max-width: 930px){
    
}
@media screen and (max-width: 560px){
    .sectionCalendar{
        padding-top: 40px;
    }
    .calendarTextContainer {
        padding-bottom: 5px;
        
    }
    .calendarTextContainer h2{
        font-size: 1.5rem;
        
    }
    .calendarTextContainer p{
        font-size: 0.7rem;
        line-height: 17px;
        
    }
    
}